<div class="container">
    <div class="col-md-6 col-md-offset-3 well" style="margin-top:40px;">
        <form method="post" action="/Home/AddPost">
            <div class="row col-md-6">
                <input name="name" placeholder="Name (optional)" class="form-control" />
                <input name="phoneNumber" placeholder="Phone Number" class="form-control" />
            </div>
            <br />
                <textarea name="text" placeholder="What are you giving away?" class="form-control" rows="5"></textarea>
            <br />
                <button class="btn btn-success btn-block">Submit</button>
        </form>
    </div>
</div>
